# Dépendances Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement
.env

# Dossiers de build
dist/
coverage/

# Fichiers système
.DS_Store
Thumbs.db